.color-picker {
    display: flex;
    gap: 5px;
    margin: 10px 0;
    align-items: center;
  }
  
  .color-option {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid #000000;
  }
  
  .color-option.selected {
    border-color: #000;
  }
  
  .color-wheel {
    margin-left: 10px;
  }